@import '~normalize.css';

@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $wtf;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  &__title {
    font-size: 3rem;
  }
}

.main {
  width: 80vw;
  height: 100%;
  margin: auto;
}

.grid {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  &__header {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
  }
  &-item {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__link {
      text-decoration: none;
      color: rgb(205, 247, 211);
    }
    &__table {
      width: 100%;
      text-align: left;
      padding: 20px;
      &-head {
        font-size: 1.2rem;
      }
      &-body {
        font-weight: 300;
      }
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px 0;
  font-weight: 300;
  font-size: 0.7rem;
}
